# See also https://dart.dev/guides/libraries/private-files

## Files and directories created by pub.
.dart_tool
.packages
build/
pubspec.lock

## Directory created by dartdoc.
doc/api/

## VS Code
.vscode/

## IntelliJ
*.iml
*.ipr
*.iws
.idea/

## Mac
.DS_Store

## Test Coverage
coverage/
